.loader {
  display: flex;
  gap: 0.5rem;
  margin: 6rem auto;
  justify-content: center;
}

.loader span {
  width: 10px;
  height: 10px;
  background-color: oklch(54.6% 0.245 262.881); /* blue */
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.6;
  }
  to {
    transform: translateY(-10px);
    opacity: 1;
  }
}
