.legend-item {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
}

.legend-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
